<!-- fil d'ariane -->

<!-- wrapper -->
<div class="wrapper">
  <!-- container texte and photo -->
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-6 padded-ri">
      <!-- colonne text -->

       <div class="">
        <!-- résa -->
        <h2 class="txt-md txt-heavy padded-md">Dates de réservation</h2>
        <div class="row">
           <div class="col-xs-6 col-md-6">
             <p class="txt-sm">Prise en main</p>
             <p class="txt-bold"><%= @booking.date_check_in %></p>
           </div>
           <div class="col-xs-6 col-md-6">
             <p class="txt-sm">Retour</p>
             <p class="txt-bold"><%= @booking.date_check_out %></p>
           </div>
        </div>
        <p class="txt-description padded-md">durée de navigation : <strong><%= d = (@booking.date_check_out - @booking.date_check_in + 1).to_i %> <%= d == 1 ? "jour" : "jours"  %></strong></p>
        <hr style="height:1px;" />
       </div>

       <div class="">
        <!-- caracteristiques -->
        <h2 class="txt-md txt-heavy padded-md">Embarcation</h2>
        <div class="row">
           <div class="col-xs-6 col-md-6">
             <p class="txt-description">Nom du bâteau</p>
             <p class="txt-description">Modèle</p>
             <p class="txt-description">Port d'attache</p>
             <p class="txt-description">Propriétaire</p>
             <p class="txt-description">Téléphone</p>
           </div>
           <div class="col-xs-6 col-md-6">
             <p class="txt-description txt-bold"><%= @boat.name %></p>
             <p class="txt-description txt-bold">
               <% if @boat.model != nil %>
               <%= @boat.model %>
                <% else %>
               <%= "-" %>
                <% end %>
             </p>
             <p class="txt-description txt-bold"><%= @boat.city %></p>
             <p class="txt-description txt-bold"><%= @boat.user.first_name + " " + @boat.user.last_name %></p>
             <p class="txt-description txt-bold">
               <% if @boat.user.phone != nil %>
                <%= @boat.user.phone %>
               <% else %>
                <%= "-" %>
               <% end %>
             </p>
           </div>
        </div>
        <hr style="height:1px;" />
       </div>

       <div class="">
       <!-- prix -->
        <h2 class="txt-md txt-heavy padded-md">Prix</h2>
        <div class="row">
           <div class="col-xs-6 col-md-6">
             <p class="txt-description">Prix total</p>
             <p class="txt-description">Caution</p>
           </div>
           <div class="col-xs-6 col-md-6">
             <p class="txt-description txt-bold"><%= @booking.total_price  %> €</p>
             <p class="txt-description txt-bold"><%= @booking.total_price * 2  %> €</p>
           </div>
        </div>
        <hr style="height: 1px;" />
       </div>

      </div>

      <div class="col-xs-12 col-md-6">
      <!-- photo -->
       <div class="margin-top-photo text-center" id="image-boat" >
         <%= cl_image_tag @boat.photos.first.path, height: 696, width: 550, crop: :fill %>
       </div>
      </div>

    </div>
  </div>

  <!-- container button -->
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-6 text-center">
       <div id="btn-conf-booking">
         <%= simple_form_for [@boat, @booking] do |f| %>
         <%= f.input :date_check_in, as: :hidden %>
         <%= f.input :date_check_out, as: :hidden  %>
         <%= f.submit "Confirmer", class: "btn btn-default margin-btn-conf" %>
         <% end %>
       </div>
      </div>

      <div class="col-xs-12 col-md-6">
      </div>

    </div>
  </div>

</div>
