<!-- fil d'ariane -->

<!-- date de résa -->
<h2>Date de réservation</h2>
<p>prise en main</p>
<p>retour</p>

<!-- info bateau -->
<h2>Embaraction</h2>
<p><%= @boat.name %></p>
<p><%= @boat.model %></p>
<p><%= @boat.address %></p>
<p><%= @boat.city %></p>
<p><%= @boat.capacity %></p>
<p><%= @boat.price %></p>

<!-- info prorio -->

<!-- Récap prix -->
<h2>Prix</h2>


<!-- bouton de confirmation -->
