<div class="padded-md" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_url "home-background.jpg" %>');">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="background-form">
        <h2 class="txt-bold text-center">Mousaillon</h2>
          <%= simple_form_for @user, url: edit_profile_path, method: :patch do |f| %>
            <%= f.input :first_name %>
            <%= f.input :last_name %>
            <%= f.input :description %>
            <%= f.input :phone %>
            <%= f.input :photo, as: :attachinary %>
            <%= f.submit "submit", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
