<div class="banner-form" style="background-image: linear-gradient(-225deg, rgba(0, 101, 168, 0.6) 0%, rgba(55, 101, 132, 0.4) 80%), url('<%= image_url "form-back.jpg" %>');">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="background-form">
          <h2 class="txt-bold text-center">Accèder à votre compte</h2>

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :email, required: false, autofocus: true %>
              <%= f.input :password, required: false %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions text-center">
              <%= f.button :submit, "Log in" %>
            </div>
          <% end %>
          <div class="padded text-center">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
