<p id="notice"><%= notice %></p>

<h1 class="text-center">Boats</h1>


<% @boats.each do |boat| %>
  <p><%= link_to boat.name, boat_path(boat) %></p>
  <p><%= boat.city %></p>
  <p><%= boat.address %></p>
  <p><%= boat.user.email %></p>
  <br>
<% end %>

<br>

<%= link_to "New Boat", new_boat_path  %>
